p{
    text-align: justify;
}
@media screen and (max-width:576px) {
    #ClientSevtionLogo{
        display: grid;
        grid-template-columns: auto auto auto;
        padding-right: 40px;
        margin-bottom: 30px;
        
    }
    #CommunityCard{
        display: grid;
        grid-template-columns: repeat(1fr,1fr);
        gap: 30px;
    }
    
}